@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", sans-serif;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 46px 130px 91px 131px;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav ul li{
    font-size: 18px;
    font-weight: 400;
    color: #1F1534;
    opacity: 0.5;
}

.nav ul li:hover{
    color: red;
    font-weight: 700;
    opacity: 1;
    transition: all 1s;
}

.header-content{
    display: flex;
    justify-content: center;
    gap: 131px;
    align-items: center;
}

.header-content_text{
    width: 440px;
}

.header-content_text h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 26.32px;
}

.header-content_text p{
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
    color: #7D7987;
    margin-bottom: 35.09px;
}

.btn{
    width: 197.75px;
    height: 49.12px;
    border-radius: 55px;
    background-color: #458FF6;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border: none;
}

.btn:hover{
    background-color: white;
    color: #458FF6;
    border: 2px solid #458FF6;
    transition: all 1s;
}

.section{
    margin-top: 91.32px;
    text-align: center;
}

.h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 61.81px;
    margin-top: 76.26px;
}

.section p{
    font-size: 18px;
    margin-bottom: 36.42px;
    font-weight: 300;
    line-height: 30px;
    color: #7D7987;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 40px;
}

.div{
    width: 380px;
    height: 380px;
    background-color: #E7E7E7;
    border-radius: 20px;
    text-align: start;
    padding-left: 45px;
    padding-right: 58px;
    padding-top: 65px;
}

h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 35px;
}

#lo{
    margin-top: 63px;
}

#li{
    margin-top: 40px;
}

.div p{
    font-size: 16px;
    font-weight: 300;
    color: #7D7987;
    margin-top: 20px;
}

.div:hover{
    background-color: #5A98F2;
    color: white;
    transition: all 0.5s;
}

.div:hover p{
    color: white;
    transition: all 0.5s;
}

.btn1{
    margin-top: 32.23px;
    width: 200px;
    height: 56.74px;
    border-radius: 55px;
    font-weight: 700;
    font-size: 18px;
    background-color: white;
    border: 1.4px solid #458FF6;
    color: #458FF6;
}

.btn1:hover{
    background-color: #458FF6;
    color: white;
    transition: 1s;
}

h2{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    margin-top: 76.26px;
    margin-bottom: 75px;
}

.section1{
    width: 1180px;
    display: flex;
    gap: 117px;
    margin-bottom: 152.85px;
    margin-left: 130px;
}

.section1-text{
    text-align: start;
}

.section1-text h2{
    font-size: 36px;
    font-weight: 700;
    text-align: start;
}

.section1-text p{
    font-weight: 300;
    font-size: 18px;
    color: #7D7987;
    line-height: 30px;
}

.section2 h2{
    margin-bottom: 109.43px;
}

.section2main{
    display: flex; 
    justify-content: center; 
    gap: 20px;
}

.section2text{
    width: 380px;
    height: 516px;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
}

.section2text:hover{
    box-shadow: 10px 40px 50px 0px #767575cf;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.5s;
}

.why{
    margin: 22px 84px 18px 30px;
}

.why h3{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 32px;
}

.why p{
    font-size: 16px;
    font-weight: 300;
    color: #7D7987;
    line-height: 28px;
}

.read-more{
    font-size: 17px;
    font-weight: 600;
    color: #4089ED;
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 42px;                
}

.read-more::after{
    content: url(IMG/Vector.png);
    margin-left: 14px;
}   

.btn2{
    width: 200px;
    height: 56.74px;
    border-radius: 55px;
    font-weight: 700;
    font-size: 17px;
    background-color: white;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    margin-left: 620px;
    margin-bottom: 230.26px;
    margin-top: 43.83px;
}

.btn2:hover{
    background-color: #458FF6;
    color: white;
    transition: 1s;
}

.footer{
    height: 432px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    padding: 159px 130px 131px 130px;
    color: #FFFFFF;
}

.ul1{
    display: flex;
}

.li1{
    width: 386px;
    margin-right: 150px;
}

.li1 p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
}

.where{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

.when{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.li2{
    margin-right: 170px;
}

.li3{
    margin-right: 161px;
}